<div class="home-content-tablecell" id="homeinput" style="display:block;"> <!--component container-->
    <div class="row" >
        <div class="col-twelve">
            <div class="home-bottom-text" style="padding-top:20%;">
                <h3 class="animate-intro">Ric.Chen Memories</h3>
                <h1 class="animate-intro">
                What are you thinking about?<br>
                </h1>
                <input class="animate-intro" type="text" onchange="ssCreateMemory(this.value, true, 0)">
            </div> <!-- end home-bottom-text -->
        </div> <!-- end col-twelve -->
    </div> <!-- end row -->
</div> <!--end of component container-->
