{% load staticfiles %}
<div class="home-content-tablecell" id="new_memory" style="display:none; vertical-align:top;"> <!--component container-->
    <div class="row">
        <div class="col-twelve">
            <div class="home-bottom-text">
                <div class="animate-intro" style="overflow-y: scroll; height:65vh; padding:2rem;border:none;">
                    <h3 v-if="fault" style="text-align:center; color:white; vertical-align:middle;"> System Error. Please login before recalling new memories </h3>
                    <h3 v-else style="text-align:center; color:white;">[[ memory.date ]]</h3>
                    <div v-for="item in memory.messages" style="color:white;vertical-align:middle;border:none;">
                        <div v-if="item.author === 'ric'" style="text-align:left;">
                            <img style="display:inline-block;" class="avatar" v-bind:src="'{% static '/pics/ric/' %}'+memory.pics.ric" alt="avatar"/>
                            <div class="message">[[ item.message ]]</div>
                        </div>
                        <div v-if="item.author === 'chen'" style="text-align:right;" >
                            <div class='message'>[[ item.message ]]</div>
                            <img style="display:inline-block;" class="avatar" v-bind:src="'{% static '/pics/chen/' %}'+memory.pics.chen" alt="avatar"/>
                        </div>
                    </div>
                </div>
            </div> <!-- end home-bottom-text -->
        </div> <!-- end col-twelve -->
    </div> <!-- end row -->
</div> <!--end of component container-->