{% load staticfiles %}
<div class="home-content-tablecell" id="notes" style="display:none; vertical-align:top;"> <!--component container-->
  <div class="row">
    <div class="col-twelve">
      <div class="home-bottom-text">
        <div class="animate-intro" style="border:none;">
          <h3 v-if="fault" style="text-align:center; color:white;"> System error. If you have not yet, please login </h3>
          <div v-else>
            <form>
              <h2 style="text-align:left; color:white;"> Add a new note </h2>
              <h4 v-if="preLinked" style="text-align:left; color:white;">Based on <a style="cursor:pointer;" @click="showModal = false; ssCreateMemory('', false, postMemId)">this</a> memory</h4>
              <textarea v-model="blogText" onkeyup="textAreaAdjust(this)" id="newNoteText" class="blog" rows="10"></textarea>
              <input placeholder="Title" style="display:inline-block;height:38px;width:50%;border-left:solid 4px;font-size: 22px;padding:.5rem;background-color: rgba(0, 0, 0, 0.3)" type="text" v-model="blogTitle">
              <button style="float: right;height: 3.8rem;line-height: 3rem;" @click.prevent="postNewNote">post note</button>
            </form>
            <div style="overflow-y: scroll; height:32vh;">
              <div v-for="item in notes">
                <h4 class="notetitle" @click="itemClicked(item)">[[item.title]]<i style="margin-left: 1.5rem;">[[item.user]]</i><span style="float:right">[[item.created]]</span></h4>
                <!-- use the modal component, pass in the prop -->
                  <modal v-if="showModal" @close="showModal = false">
                    <div slot="header">
                    <h4 class="notetitle" style="color:black;">[[title]]<i style="margin-left: 1.5rem;">[[user]]</i></h4>
                    <h5 v-if="postLinked" class="notetitle" style="color:black;">Based on <a style="cursor:pointer;" @click="showModal = false; ssCreateMemory('', false, postMemId)">this</a> memory</h5>
                    </div>
                      <div slot="body" style="height:40vh;">
                        <p style="font-family:'montserrat', sans-serif">[[ text ]]</p>
                    </div>
                    <span slot="footer">&nbsp;</span>
                  </modal>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- end home-bottom-text -->
        </div> <!-- end col-twelve -->
    </div> <!-- end row -->
</div> <!--end of component container-->
